.container {
    max-width: auto;
    max-height: 100%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .download-section {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .download-button {
    display: inline-block;
    width: 15rem;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 18px;
    color: #fff;
    background-color: var(--clr-myblue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .download-button:hover {
    background-color: #0056b3;
  }
  .instructions {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
  }