.footer {

  height:11rem;
  background-color: #0e3265;
  padding: 10px 20px; 
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social-icons li {
  margin: 0 5px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #4b6486;
}

.footerBottom {
  margin-top: 20px;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-right: 20px;
  margin-bottom: 20px;
}

.menu li {
  margin: 1px 10px;
}

.menu button {
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 18px;
  outline: none; /* Remove the outline on button focus */
  cursor: pointer;
}

.menu button:hover {
  color: #4b6486;
}

.menu .noBorder {
  border: none;
}

.footerBottom p {
  color: #e7eaee;
  margin: 0;
}