.footer {
  background-color: #689fd3;
  padding: 10px 20px;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social-icons li {
  margin: 0 5px;
}

.social-icons a {
  color: #056bfa;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--clr-myblue);
}

.footerBottom {
  margin-top: 20px;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  /* padding-right: 20px;
  margin-bottom: 20px; */
}

/* .menu li {
  margin: 1px 10px;
} */

.list span{
  font-weight: 700;
  color:#f7f7f7;
  font-size: 18px;
}

li > a {
  color: #e0e0e0;
  font-size: 16px;
}
li > a:hover {
  color: var(--clr-myblue);
}

.footerBottom p {
  color: #f0eeee;
  margin: 0;
}
