.sectionTabs {
  background-color: #fefefe;
  padding: 20px;
  width: 100%;
  justify-content: center;
  position: relative;
  color: #333;
}
/* Pour corriger le défilement de section tabs qui passe au dessus de navbar au lieu d#e dessous, 
mettre la propriété position:relative en commentaire dans sectionTabs, tabs, tab */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapperTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 0%;
  background-color: #f2c6a5;
  border-radius: 40px;
  width: 100%;
}

.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding: 20px 16px;
}

.tab:not(:last-child) {
  margin-right: 20px;
}

.tabsMenu {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.tab {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #333;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 40px;
}

.tab:hover {
  background-color: #f79041;
}

.tab.active {
  background-color: #f79041;
  color: #333;
}

.imageTabs {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 40px;
}

.text {
  max-width: 198px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight-0 {
  transform: translateX(0%);
}

.highlight-1 {
  transform: translateX(100%);
}

.highlight-2 {
  transform: translateX(100%);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  width: 300px;
  height: 150px;
  padding: 20px;
  background-color: #f79041;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.modalHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 16px;
}

.wrapper-latest {
  padding: 20px;
  background-color: #f5f5f5;
}

.top-latest {
  margin-bottom: 20px;
}

h1 {
  display: block;
  font-size: 4em;
  color: #333;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 3%;
  font-weight: bold;
  margin-left: 28.7%;
  margin-bottom: 5%;
  margin-top: 8%;
  justify-content: center;
}

.updateBoxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 8%;
  grid-column-gap: 30px;
}

.updateBox {
  /* background-color: #18c0ea; */
  background-color: var(--clr-myblue);
  border-radius: 30px;
  padding: 20px;
  width: 50%;
}

.updateBoxHeader {
  font-size: 24px;
  padding-top: 3%;
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}

.updateBoxText {
  font-size: 19px;
  color: #fff;
}
.latestImage {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  color: #fff;
}
.sectionImage {
  width: 100%;
  background-color: var(--clr-myblue);
}
